na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.

In [5]:
import numpy as np 
import pandas as pd

df = pd.read_csv('diabetes_null.csv',na_values = ['#NAME?'])

In [6]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.210,3,0
6,3,78.0,5.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,7.0,45.0,543.0,3.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,11.0,92.0,NaN,NaN,37.6,0.191,3,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,8.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,6.0,23.0,846.0,3.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,1.0,NaN,NaN,NaN,3.0,0.484,32,1
16,0,118.0,84.0,47.0,23.0,45.8,0.551,31,1
17,7,17.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,13.0,3.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,7.0,3.0,96.0,34.6,0.529,32,1
20,3,126.0,88.0,41.0,235.0,39.3,0.740,27,0
21,8,99.0,84.0,NaN,NaN,35.4,0.388,5,0
22,7,196.0,9.0,NaN,NaN,39.8,0.451,41,1
23,9,119.0,8.0,35.0,NaN,29.0,0.263,29,1
24,11,143.0,94.0,33.0,146.0,36.6,0.254,51,1
25,10,125.0,7.0,26.0,115.0,31.1,0.250,41,1
26,7,147.0,76.0,NaN,NaN,39.4,0.257,43,1
27,1,97.0,66.0,15.0,14.0,23.2,0.487,22,0
28,13,145.0,82.0,19.0,11.0,22.2,0.245,57,0
29,5,117.0,92.0,NaN,NaN,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99.0,6.0,17.0,16.0,36.6,0.453,21,0
739,1,12.0,74.0,NaN,NaN,39.5,0.293,42,1
740,11,12.0,8.0,37.0,15.0,42.3,0.785,48,1
741,3,12.0,44.0,2.0,94.0,3.8,0.400,26,0
742,1,19.0,58.0,18.0,116.0,28.5,0.219,22,0
743,9,14.0,94.0,NaN,NaN,32.7,0.734,45,1
744,13,153.0,88.0,37.0,14.0,4.6,1.174,39,0
745,12,1.0,84.0,33.0,15.0,3.0,0.488,46,0
746,1,147.0,94.0,41.0,NaN,49.3,0.358,27,1
747,1,81.0,74.0,41.0,57.0,46.3,1.960,32,0
748,3,187.0,7.0,22.0,2.0,36.4,0.480,36,1
749,6,162.0,62.0,NaN,NaN,24.3,0.178,5,1
750,4,136.0,7.0,NaN,NaN,31.2,1.182,22,1
751,1,121.0,78.0,39.0,74.0,39.0,0.261,28,0
752,3,18.0,62.0,24.0,NaN,26.0,0.223,25,0
753,0,181.0,88.0,44.0,51.0,43.3,0.222,26,1
754,8,154.0,78.0,32.0,NaN,32.4,0.443,45,1
755,1,128.0,88.0,39.0,11.0,36.5,1.570,37,1
756,7,137.0,9.0,41.0,NaN,32.0,0.391,39,0
757,0,123.0,72.0,NaN,NaN,36.3,0.258,52,1
758,1,16.0,76.0,NaN,NaN,37.5,0.197,26,0
759,6,19.0,92.0,NaN,NaN,35.5,0.278,66,1
760,2,88.0,58.0,26.0,16.0,28.4,0.766,22,0
761,9,17.0,74.0,31.0,NaN,44.0,0.430,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,NaN,NaN,3.1,0.349,47,1
767,1,93.0,7.0,31.0,NaN,3.4,0.315,23,0

In [8]:
df.shape

(768, 9)

In [9]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     763 non-null float64
BloodPressure               733 non-null float64
SkinThickness               541 non-null float64
Insulin                     394 non-null float64
BMI                         757 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,99.310616,55.706685,25.876155,105.659898,29.865654,0.490439,30.990885,0.348958
std,3.369578,55.115381,29.878852,12.967816,116.862508,10.686049,0.346050,13.281475,0.476951
min,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.100000,3.000000,0.000000
25%,1.000000,72.500000,16.000000,18.000000,21.000000,25.400000,0.253750,23.000000,0.000000
50%,3.000000,113.000000,66.000000,27.000000,71.000000,32.000000,0.382500,28.000000,0.000000
75%,6.000000,138.000000,76.000000,35.000000,151.000000,36.100000,0.647500,38.250000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
df[df.duplicated()].sum()

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
dtype: float64

In [13]:
df.drop_duplicates(inplace = True)

In [14]:
df.isna().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [16]:
df.dropna?

subset : array-like, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.

In [17]:
df = df.dropna(subset = ['Glucose'])

In [18]:
df.isna().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                35
SkinThickness               227
Insulin                     370
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

## Handling missing data

In [19]:
# Deleting 
df1 = pd.read_csv('diabetes_null.csv',na_values = ['#NAME?'])
#code to see the missing values in descending
df1.isnull().sum().sort_values(ascending = False)
df_no_missing = df1.dropna(axis = 0)
print(df_no_missing.head())

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
3             1     89.0           66.0           23.0     94.0  28.1
4             0    137.0            4.0           35.0    168.0  43.1
6             3     78.0            5.0           32.0     88.0  31.0
8             2    197.0            7.0           45.0    543.0   3.5
13            1    189.0            6.0           23.0    846.0   3.1

    DiabetesPedigreeFunction  Age  Outcome
3                      0.167   21        0
4                      2.288   33        1
6                      0.248   26        1
8                      0.158   53        1
13                     0.398   59        1

In [20]:
df1.isnull().sum().sort_values(ascending = False)

Insulin                     374
SkinThickness               227
BloodPressure                35
BMI                          11
Glucose                       5
Outcome                       0
Age                           0
DiabetesPedigreeFunction      0
Pregnancies                   0
dtype: int64

## Fill with mean

In [22]:
from sklearn.preprocessing import Imputer

In [24]:
df1 = pd.read_csv('diabetes_null.csv',na_values = ['#NAME?'])

#imputer to impute missing values with mean
imp = Imputer(missing_values = 'NaN',strategy = 'mean',axis = 0)

imp.fit(df1)
df_nonull = pd.DataFrame(data = imp.transform(df1),columns = df1.columns)

C:\Users\AADHI\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [25]:
df_nonull.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.000000,105.659898,33.6,0.627,5.0,1.0
1,1.0,85.0,66.0,29.000000,105.659898,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,25.876155,105.659898,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0,0.0
4,0.0,137.0,4.0,35.000000,168.000000,43.1,2.288,33.0,1.0

In [27]:
df_nonull.isnull().sum().sort_values(ascending = False)

Outcome                     0
Age                         0
DiabetesPedigreeFunction    0
BMI                         0
Insulin                     0
SkinThickness               0
BloodPressure               0
Glucose                     0
Pregnancies                 0
dtype: int64

## Fill with median

In [28]:
df1.isnull().sum().sort_values(ascending = False)

Insulin                     374
SkinThickness               227
BloodPressure                35
BMI                          11
Glucose                       5
Outcome                       0
Age                           0
DiabetesPedigreeFunction      0
Pregnancies                   0
dtype: int64

In [47]:
#imputer to impute missing values with mean
imp = Imputer(missing_values = 'NaN',strategy = 'median',axis = 0)

imp.fit(df1)
df1 = pd.DataFrame(data = imp.transform(df1),columns = df1.columns)

df1.head()

C:\Users\AADHI\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,71.0,33.6,0.627,5.0,1.0
1,1.0,85.0,66.0,29.0,71.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,27.0,71.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,4.0,35.0,168.0,43.1,2.288,33.0,1.0

## Handling Data impurities

##### Function to find outliers
Order of Execution
PEDMAS - Paranthesis, Exponential, Division, Mul, Add, Sub

In [42]:
def find_outliers(x):
    q1 = x.quantile(.25)
    q3 = x.quantile(.75)
    iqr = q3-q1 
    lw = q1 - 1.5*iqr
    uw = q3 + 1.5*iqr
    outlier_indices = list(x.index[(x < lw) | (x > uw)])
    outlier_values = list(x[outlier_indices])
    return outlier_indices, outlier_values

## find outliers in each columns

In [44]:
glucose_index, glucose_value = find_outliers(df1['Glucose'])
print(glucose_index)
print(glucose_value)

[]
[]

In [45]:
Pregnancies_index, Pregnancies_value = find_outliers(df1['Pregnancies'])
print(Pregnancies_index)
print(Pregnancies_value)

[88, 159, 298, 455]
[15, 17, 14, 14]

In [48]:
SkinThickness_index, SkinThickness_value = find_outliers(df1['SkinThickness'])
print(SkinThickness_index)
print(SkinThickness_value)

[19, 55, 57, 66, 70, 73, 74, 75, 86, 92, 98, 99, 120, 122, 126, 135, 141, 150, 161, 182, 194, 202, 211, 215, 217, 273, 275, 279, 291, 310, 313, 321, 322, 356, 357, 358, 370, 373, 380, 397, 409, 411, 427, 445, 455, 458, 462, 463, 466, 470, 480, 491, 532, 534, 539, 540, 551, 556, 558, 566, 569, 574, 576, 579, 590, 591, 621, 631, 644, 652, 657, 669, 671, 693, 704, 713, 723, 725, 741, 763]
[3.0, 1.0, 6.0, 3.0, 2.0, 2.0, 3.0, 2.0, 54.0, 4.0, 3.0, 51.0, 56.0, 3.0, 3.0, 2.0, 3.0, 5.0, 4.0, 2.0, 2.0, 2.0, 54.0, 4.0, 3.0, 5.0, 52.0, 1.0, 3.0, 3.0, 1.0, 3.0, 2.0, 4.0, 3.0, 4.0, 48.0, 4.0, 3.0, 4.0, 49.0, 3.0, 3.0, 63.0, 3.0, 48.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 52.0, 3.0, 49.0, 4.0, 3.0, 4.0, 4.0, 3.0, 3.0, 3.0, 2.0, 99.0, 4.0, 5.0, 2.0, 4.0, 3.0, 4.0, 48.0, 3.0, 1.0, 49.0, 2.0, 2.0, 3.0, 4.0, 2.0, 48.0]

In [49]:
Insulin_index, Insulin_value = find_outliers(df1['Insulin'])
print(Insulin_index)
print(Insulin_value)

[3, 4, 6, 8, 13, 14, 16, 19, 20, 24, 25, 27, 28, 31, 32, 35, 39, 40, 43, 51, 52, 53, 54, 56, 57, 59, 63, 68, 69, 70, 71, 73, 85, 88, 91, 92, 95, 99, 103, 105, 107, 108, 109, 110, 111, 112, 114, 119, 120, 122, 125, 126, 127, 128, 130, 132, 134, 135, 136, 137, 139, 144, 147, 150, 152, 153, 156, 157, 158, 159, 161, 162, 165, 171, 173, 174, 175, 177, 181, 182, 186, 188, 189, 191, 195, 197, 198, 199, 203, 204, 206, 208, 213, 214, 215, 216, 217, 220, 223, 224, 225, 228, 229, 231, 232, 234, 236, 241, 243, 244, 248, 252, 254, 258, 259, 260, 271, 273, 277, 279, 281, 282, 285, 286, 287, 288, 290, 292, 293, 295, 296, 297, 298, 301, 302, 305, 306, 307, 308, 309, 311, 312, 313, 315, 318, 320, 323, 325, 326, 328, 331, 335, 338, 340, 345, 353, 356, 358, 359, 360, 364, 369, 370, 371, 373, 374, 375, 376, 382, 384, 385, 388, 390, 392, 393, 395, 396, 402, 405, 409, 411, 412, 414, 415, 419, 420, 424, 425, 427, 428, 429, 431, 432, 441, 442, 445, 446, 447, 450, 452, 454, 458, 459, 460, 462, 465, 466, 467, 469, 476, 477, 480, 482, 483, 485, 486, 487, 493, 498, 499, 506, 507, 511, 514, 515, 516, 519, 521, 527, 528, 530, 534, 538, 539, 540, 541, 543, 545, 546, 547, 551, 553, 554, 555, 561, 563, 565, 566, 567, 568, 569, 572, 573, 574, 576, 584, 588, 591, 593, 594, 595, 597, 599, 603, 606, 607, 608, 609, 610, 611, 612, 614, 617, 620, 623, 625, 631, 633, 638, 639, 640, 644, 645, 646, 647, 648, 650, 651, 654, 655, 656, 657, 659, 662, 663, 665, 668, 669, 670, 672, 673, 679, 680, 682, 685, 688, 689, 692, 693, 695, 696, 698, 700, 704, 707, 709, 710, 711, 713, 715, 716, 718, 721, 722, 723, 726, 732, 733, 736, 738, 740, 741, 742, 744, 745, 748, 753, 755, 760, 763, 765]
[94.0, 168.0, 88.0, 543.0, 846.0, 175.0, 23.0, 96.0, 235.0, 146.0, 115.0, 14.0, 11.0, 245.0, 54.0, 192.0, 27.0, 7.0, 24.0, 36.0, 23.0, 3.0, 342.0, 34.0, 11.0, 142.0, 128.0, 38.0, 1.0, 9.0, 14.0, 27.0, 125.0, 11.0, 176.0, 48.0, 228.0, 22.0, 4.0, 152.0, 14.0, 18.0, 36.0, 135.0, 495.0, 37.0, 175.0, 51.0, 1.0, 1.0, 99.0, 135.0, 94.0, 145.0, 168.0, 225.0, 49.0, 14.0, 5.0, 92.0, 325.0, 284.0, 119.0, 24.0, 155.0, 485.0, 94.0, 135.0, 53.0, 114.0, 15.0, 285.0, 156.0, 13.0, 48.0, 55.0, 13.0, 13.0, 92.0, 23.0, 495.0, 114.0, 16.0, 94.0, 21.0, 48.0, 99.0, 318.0, 44.0, 19.0, 28.0, 87.0, 13.0, 175.0, 271.0, 129.0, 12.0, 478.0, 19.0, 56.0, 32.0, 744.0, 53.0, 37.0, 37.0, 45.0, 192.0, 88.0, 176.0, 194.0, 42.0, 55.0, 258.0, 375.0, 15.0, 13.0, 56.0, 45.0, 116.0, 278.0, 122.0, 155.0, 135.0, 545.0, 22.0, 49.0, 4.0, 182.0, 194.0, 12.0, 36.0, 215.0, 184.0, 135.0, 42.0, 15.0, 132.0, 148.0, 18.0, 25.0, 148.0, 96.0, 85.0, 94.0, 14.0, 231.0, 29.0, 168.0, 156.0, 12.0, 52.0, 255.0, 171.0, 15.0, 18.0, 43.0, 167.0, 54.0, 249.0, 325.0, 293.0, 14.0, 465.0, 89.0, 94.0, 158.0, 325.0, 84.0, 182.0, 11.0, 5.0, 285.0, 196.0, 415.0, 87.0, 275.0, 115.0, 88.0, 165.0, 579.0, 176.0, 31.0, 167.0, 474.0, 115.0, 17.0, 21.0, 277.0, 18.0, 145.0, 18.0, 85.0, 6.0, 5.0, 12.0, 14.0, 7.0, 92.0, 95.0, 21.0, 15.0, 237.0, 6.0, 56.0, 49.0, 15.0, 36.0, 1.0, 14.0, 191.0, 11.0, 328.0, 49.0, 125.0, 25.0, 48.0, 265.0, 122.0, 145.0, 193.0, 9.0, 17.0, 21.0, 86.0, 15.0, 165.0, 326.0, 13.0, 15.0, 188.0, 16.0, 56.0, 21.0, 155.0, 215.0, 19.0, 56.0, 225.0, 27.0, 166.0, 16.0, 44.0, 115.0, 215.0, 274.0, 54.0, 88.0, 18.0, 126.0, 126.0, 165.0, 44.0, 12.0, 33.0, 13.0, 6.0, 156.0, 14.0, 115.0, 23.0, 185.0, 25.0, 12.0, 126.0, 293.0, 41.0, 272.0, 182.0, 158.0, 194.0, 321.0, 144.0, 15.0, 16.0, 115.0, 54.0, 9.0, 183.0, 91.0, 46.0, 15.0, 152.0, 44.0, 144.0, 159.0, 13.0, 1.0, 16.0, 135.0, 54.0, 9.0, 2.0, 7.0, 231.0, 13.0, 132.0, 19.0, 1.0, 168.0, 49.0, 24.0, 265.0, 45.0, 15.0, 25.0, 18.0, 18.0, 95.0, 125.0, 48.0, 125.0, 155.0, 2.0, 1.0, 335.0, 16.0, 387.0, 22.0, 291.0, 392.0, 185.0, 178.0, 2.0, 127.0, 15.0, 18.0, 12.0, 165.0, 12.0, 16.0, 15.0, 94.0, 116.0, 14.0, 15.0, 2.0, 51.0, 11.0, 16.0, 18.0, 112.0]

In [50]:
## VIF - Variation Inflation Factor

In [52]:
# Dropping the outlier values
del_df = df1.drop(Pregnancies_index)
print(del_df.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0          6.0    148.0           72.0           35.0     71.0  33.6
1          1.0     85.0           66.0           29.0     71.0  26.6
2          8.0    183.0           64.0           27.0     71.0  23.3
3          1.0     89.0           66.0           23.0     94.0  28.1
4          0.0    137.0            4.0           35.0    168.0  43.1

   DiabetesPedigreeFunction   Age  Outcome
0                     0.627   5.0      1.0
1                     0.351  31.0      0.0
2                     0.672  32.0      1.0
3                     0.167  21.0      0.0
4                     2.288  33.0      1.0

#### Replace with min

In [ ]:
min_in = np.min(del_df)